<%- include ('../../partials/headerAdmin') %>

<div class="hs">
  <h1>Cadastro de Artigos</h1>
  <h2>Preencha os campos para cadastrar seu artigo.</h2>
</div>

<!-- container de erros de validação -->

<!-- container de erros de validação -->

<div class="container-form-news">

  <form action="/articles/save" method="POST" class="form_news" enctype="multipart/form-data">
    <div class="field">
      <label for="title">Título do Artigo</label>
      <input type="text" name="title" id="title" placeholder="Digite aqui o título do seu artigo" value="<%= title %>" >
      <span style="color: #EE4000; font-size: 0.9em;"><%= titleError %></span>
    </div>

    <div class="field">
      <label for="author">Autor do Artigo</label>
      <input type="text" name="author" id="author" placeholder="Digite  aqui o seu nome" value="<%= author %>" >
      <span style="color: #EE4000; font-size: 0.9em;"><%= authorError %></span>
    </div>

    <div class="field">
      <label for="body">Seu Artigo</label>
      <textarea name="body" id="body" placeholder="Digite aqui seu artigo" value="<%= body %>" rows="5" cols="33"></textarea>
      <span style="color: #EE4000; font-size: 0.9em;"><%= bodyError %></span>
    </div>

    <div class="field">
      <label for="category">Selecione uma categoria para seu artigo</label>

      <div class="select">
        <select name="category" id="category" value="">
          <% categories.forEach((category) => { %>
            <option value="<%= category.id %>"><%= category.title %></option>
          <% }) %>
        </select>
      </div>

      <br>
      <span>Carregue até 10 fotos abaixo.</span>
      <!-- config. cloudinary -->
      <input type="file" name="photo1" id="photo1">
      <input type="file" name="photo2" id="photo2">
      <input type="file" name="photo3" id="photo3">
      <input type="file" name="photo4" id="photo4">
      <input type="file" name="photo5" id="photo5">
      <input type="file" name="photo6" id="photo6">
      <input type="file" name="photo7" id="photo7">
      <input type="file" name="photo8" id="photo8">
      <input type="file" name="photo9" id="photo9">
      <input type="file" name="photo10" id="photo10">
      <!-- config. cloudinary -->

      <div class="center-btn"><button>enviar</button></div>
    </div>
  </form>
</div>

<%- include ('../../partials/footer') %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
  tinymce.init({
    language: 'pt_BR',
    selector: "#body",
    height: "400",
    plugins: [
    'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    ]
  })
</script>